.menuMobile {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    color: black;
    z-index: 4;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -45vw;
    width: 90vw;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px 10px 0px 0px;

    font-family: 'Poppins';
    font-style: normal;

}

.show {
    opacity: 1;
    transform: translate3d(0px, -100px, 0);
    z-index: 15;
    height: 80vh;
}
